.certificados{
    grid-column: 1/5;
    margin-top: 2rem;
    background-color:rgb(245, 245, 245) ;
}
.item {
    width: 100%;
}
.item-img {
    width: 100%;
    height: 20rem;
}
.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.informacion {
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.ico {
    font-size: 2rem;
}